.inputContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#submitAddBook {
    height: 35px;
    width: 70px;
    background-color: #F1C40F;
    color: black;
    border-radius: 9px;
    font-style: italic;
    font-size: 1.2rem;
}
h2 {
    font-style: italic;
}
 #formAddBook {
     border: 3px solid #F1C40F;
 }
