#set( $title = "Add Book" )
#parse("public/templates/top.vm")

#if($added)
<h2>Book was successfully added!</h2>
<br />
#end

#if($failedAdd)
<h2>Failed to add the book!</h2>
<br />
#end

<h2>Add a new book</h2>
<form action="/addbook" method="post" class="content" id="formAddBook">
    <div>
        <label for="title">Title: </label>
        <input type="text" name="title" placeholder="title" id="title" required>
    </div>
    <div>
        <label for="isbn">ISBN: </label>
        <input type="text" name="isbn" placeholder="isbn" id="isbn" />
    </div>
    <div>
        <label for="publisher">Publisher: </label>
        <input type="text" name="publisher" placeholder="publisher" id="publisher" />
    </div>
    <div>
        <label for="year">Year: </label>
        <input type="number" name="year" placeholder="2020" id="year" min="1800" max="2020"/>
    </div>
    <!-- <div>
        <label for="authorId">Author ID: </label>
        <input type="number" name="authorId" placeholder="0" id="authorId" min="0" max="100000000"/>
    </div> -->
    <div>
        <label for="name">Author's Name: </label>
        <input type="text" name="name" placeholder="name" id="name" required>
    </div>
    <div>
        <label for="nationality">Author's Nationality: </label>
        <input type="text" name="nationality" placeholder="nationality" id="nationality" />
    </div>
    <div>
        <label for="numOfBooks">Author's Number of Books: </label>
        <input type="number" name="numOfBooks" placeholder="1" id="numOfBooks" min="1" max="200"/>
    </div>
    <br />
    <input type="submit" value="Add" id="submitAddBook" />
</form>

#parse("public/templates/bottom.vm")