<!DOCTYPE html>
<html lang="en">
    <body class="container">
        <main>
            <h1>All Courses</h1>
            <ul>
                <% courses.forEach(function(course) { %>
                <h2><%= course.name %></h2>
                <% }); %>
                <el-button
                    style="background-color:#008CBA; color:white"
                    @click="add"
                >
                    Add
                </el-button>
            </ul>
        </main>

        <script>
            export default {
              methods: {
                    add() {
                        const response = await axios.post('https://immense-garden-94246.herokuapp.com/add_course',
                            {
                                /*username:
                                courseId:
                                role: */
                            }
                        );

                        window.location.reload()
                    }
                },
            }
        </script>
    </body>
</html>
